.project-info {
  position: relative;
  display: flex;
  text-align: left;
  padding: 40px;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.project-info img {
  width: 80%;
  margin-left: -2vw;
}

.left-modal {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.left-modal p {
  font-size: 12px;
  line-height: 16px;
}
.right-modal {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-modal p {
  font-size: 12px;
  line-height: 18px;
}

.right-modal a {
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  margin-top: 10px;
  color: #121415;
}

.right-modal a:hover {
  color: #00ffff;
}

.close-modal-btn {
  background: none;
  color: #121415;
  font: 28px/1.9em 'Montserrat', sans-serif;
  content: '\2715';
  z-index: 1000;
  top: 0;
  left: 0;
}
.close-modal-btn:after {
  background: none;
  color: #121415;
  font: 28px/1.9em 'Montserrat', sans-serif;
  content: '\2715';
  z-index: 1000;
}

.close-modal-btn:hover {
  background: none;
  color: #00ffff;
}

@media only screen and (max-width: 480px) {
  .project-info {
    position: relative;
    display: flex;
    text-align: left;
    padding: 0px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    margin-top: 50px;
  }

  .project-info img {
    width: 100%;
    margin-left: 0vw;
  }

  .left-modal {
    width: 100%;
    position: relative;
    display: block;
  }

  .left-modal p {
    font-size: 12px;
    line-height: 16px;
  }
  .right-modal {
    width: 100%;
    width: 100%;
    position: relative;
    display: block;
  }

  .right-modal p {
    font-size: 12px;
    line-height: 18px;
  }

  .right-modal a {
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    margin-top: 10px;
    color: #121415;
  }

  .right-modal a:hover {
    color: #00ffff;
  }
}
